
@font-face {
  font-family: 'Azonix';
  src: url('/azonix.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.title {
  font-family: 'Azonix', sans-serif;
  font-color: white;
}